$main-blue: #0168ad;
$font-color1: #def1ff;

.container {
  background-color: lighten($color: $main-blue, $amount: 20);

  width: fit-content;

  padding: 1rem;
  border-radius: 10px;

  text-align: center;
}

.name {
  font-size: 2rem;
  font-weight: 900;
  color: $font-color1;

  text-shadow: 2px 2px 2px #120975;
}

.number {
  font-size: 1.5rem;
  font-weight: 700;
  color: $font-color1;

  text-shadow: 2px 2px 2px #120975;
}

.location {
  font-size: 1.5rem;
  font-weight: 700;
  color: $font-color1;

  text-shadow: 2px 2px 2px #120975;
  background-color: #3f33c7;
  border-radius: 5px;

  margin-top: 0.5rem;
}

button {
  background-color: #0168ad;
  color: $font-color1;

  border: none;
  border-radius: 15px;

  padding: 0.5rem 1rem;
  margin: 1rem 1rem 0 1rem;

  cursor: pointer;
}
