<div class="top-nav">
  <img src="assets/flag.gif" alt="" />
  <p>TOT PIT-NW</p>
</div>

<div class="section-title">
  <h2>Today's Team Leads</h2>
</div>

<div class="team-leads section">
  <app-lead-card></app-lead-card>
  <app-lead-card></app-lead-card>
  <app-lead-card></app-lead-card>
</div>

<div class="section-title">
  <h2>STAFF</h2>
</div>

<div class="canvassers section">
  <app-canvasser-card></app-canvasser-card>
  <app-canvasser-card></app-canvasser-card>
  <app-canvasser-card></app-canvasser-card>
</div>

<!-- Router Outlet -->
<router-outlet></router-outlet>
